.about h1{
    font-size: 50px;
    color: #2596be;
    text-shadow: 5px #2596be;
    background-color: white;
    width: 50%;
    border-end-end-radius: 50px;
    border-start-start-radius: 50px;
}
.about {
    background-image: url("../assets/gif1.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}