.background{
    background-image: url("https://www.panarihotels.com/hotel-nairobi/images/product/1048/Honey_moon_set_up_in_a_Deluxe_room.jpg");
    height: 500px;
    background-size: 100% 100%;
    border-radius: 20px;
}
#space{
    padding-top: 10%;
    color: snow;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#space h1{ 
    /* color: red; */
    font-weight: 400;
    font-size:70px;
    font-family: 'Bonheur Royale', cursive;

    
}



.mag{
    width: 300px;
    height: 200px;
    border-radius: 10px;

}

.mag:hover{
    border: 4px solid red;
    border-radius: 10px;

}

.mg{
    width: 300px;
    height: 200px;
    border-radius: 10px;

}
.togOut{
    display: none;
    padding: 10px;
    border-radius: 10px;
    /* font-size: 20px; */
    border: 2px solid rgb(157,212,225);

}

#book{
    background-image: url("https://images.pexels.com/photos/2363331/pexels-photo-2363331.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: 100% 100%;
    border-radius: 20px;
    padding: 20px;
}
.rience:hover{
    /* background-color:rgb(157,212,225); */
    border-radius: 10px;
    font-size: 20px;
    border: 4px solid rgb(157,212,225);


}

#sort{
    font-weight: 1000;
}
.ribu{
font-size: 40px;
color:red;
font-family: 'Lobster', cursive;

}

.libu{
    color: rgb(157,212,225);
    font-weight: 900;
    font-size: 80px;
    font-family: 'Bonheur Royale', cursive;
    text-decoration: underline;
    text-decoration-color: red;

}
h1{
    font-family: 'Pacifico', cursive;
}
.bout{
    font-weight: 900;
    color: black;
}
.nav-item {
    padding-left: 50px;
    padding-right: 40px;
    background-color: rgb(157,212,225);
  }
  .collapse {
    background-color: rgb(157,212,225);
  }
  ​
  .nav-text {
    color: white;
    background-color: rgb(157,212,225);
  }
  .navabar {
    background-color: rgb(157,212,225);
    border-radius: 20px;
  }
  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
      inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  }
  ​
  .bi {
    vertical-align: -0.125em;
    fill:rgb(157,212,225);
    ;
  }
  .footer-item {
    background: none;
  }