.nav-item {
  padding-left: 50px;
  padding-right: 40px;
  background-color: #2596be;
}
.collapse {
  background-color: #2596be;
}
​ .nav-text {
  color: white;
  background-color: #2596be;
}
.navabar {
  background-color: #2596be;
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

​ .bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.footer-item {
  background: none;
}
.footerr {
  position: absolute;
  left: 0;
  right: 0;
}
body {
  position: relative;
  scroll-behavior: smooth;
}
#contacts {
  margin-top: 50px;
}
h1 {
  text-align: center;
  letter-spacing: 8px;
  color: azure;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 60px;
  text-shadow: 2px 2px 5px rgb(75, 156, 202);
}

/*Styling the contact form*/
@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);
header h1 {
  font-weight: normal;
  font-size: 2em;
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  width: 500px;
  color: azure;
  text-align: center;
}
.location {
  color: azure;
}
.location h1 {
  font-weight: normal;
  font-size: 3em;
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  margin-top: 10px;
  width: 500px;
  color: azure;
  text-align: center;
}
.location p {
  font-weight: normal;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  margin-top: 10px;
  width: 500px;
  color: azure;
  text-align: center;
}
.fontawesome {
  text-align: center;
  width: 100%;
}
/*Styling emails*/
.email {
  color: azure;
}
.email h1 {
  font-weight: normal;
  font-size: 3em;
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  margin-top: 10px;
  width: 500px;
  color: azure;
  text-align: center;
}
.email p {
  font-weight: normal;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  margin-top: 10px;
  width: 500px;
  color: azure;
  text-align: center;
}
.contacts-content {
  background-color: rgba(0, 0, 0, 0.5);
}
/* Animation webkit */
@-webkit-keyframes myfirst {
  0% {
    margin-left: -235px;
  }
  90% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}

/* Animation */
@keyframes myfirst {
  0% {
    margin-left: -235px;
  }
  70% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}
.footer {
  background-color: white;
}

.fish {
  background-image: url("http://www.geertjanhendriks.nl/codepen/form/fish.png");
  width: 235px;
  height: 104px;
  margin-left: -235px;
  position: absolute;
  animation: myfirst 24s;
  -webkit-animation: myfirst 24s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

#fish {
  top: 100px;
}

#fish2 {
  top: 240px;
  animation-delay: 12s;
  -webkit-animation-delay: 12s;
}

header {
  height: 120px;
  background: url("http://www.geertjanhendriks.nl/codepen/form/golf.png")
    repeat-x bottom;
}

#form {
  background-color: #98d4f3;
  overflow: hidden;
  position: relative;
}
form {
  margin: 0 auto;
  width: 500px;
  padding-top: 0px;
  color: white;
  position: relative;
  padding-bottom: 30px;
}
label,
input,
textarea {
  display: block;
}
input,
textarea {
  width: 500px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-family: "Sniglet", cursive;
  font-size: 1em;
  color: #676767;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  border: solid 3px #98d4f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input:focus,
textarea:focus {
  border: solid 3px #77bde0;
}

textarea {
  height: 90px;
  resize: none;
  overflow: auto;
}
input[type="submit"] {
  background-color: #f90;
  color: white;
  height: 50px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1.29em;
  font-family: "Sniglet", cursive;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
input[type="submit"]:hover {
  background-color: #77bde0;
}
label {
  font-size: 1.5em;
  margin-top: 0px;
  padding-left: 20px;
}
.formgroup,
.formgroup-active,
.formgroup-error {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 10.5%;
  transition: background-image 0.7s;
  -webkit-transition: background-image 0.7s;
  -moz-transition: background-image 0.7s;
  -o-transition: background-image 0.7s;
  width: 566px;
  padding-top: 2px;
}

.formgroup {
  background-image: url("http://www.geertjanhendriks.nl/codepen/form/pixel.gif");
}
.formgroup-active {
  background-image: url("http://www.geertjanhendriks.nl/codepen/form/octo.png");
}
.formgroup-error {
  background-image: url("http://www.geertjanhendriks.nl/codepen/form/octo-error.png");
  color: red;
}
.wholepage {
  background-image: url(./Images/contacts_background.jpeg);
  background-size: cover;
}

#travel {
  padding-top: 110px;
}
.travel-content {
  background-color: rgba(0, 0, 0, 0.5);
}
/*Styling the slides*/
.containerr {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.container .slider {
  position: relative;
  top: 0%;
  left: 0;
  width: 500%;
  height: 70%;
  animation: animate 10s linear infinite;
}

.container .slider .slide {
  position: relative;
  width: 20%;
  height: 100%;
  float: left;
}

.container .slider .slide .caption {
  position: absolute;
  bottom: 60px;
  left: 60px;
  right: 60px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  transition: 0.5s;
}

.container .slider .slide .caption h2 {
  margin: 0 0 20;
  padding: 0;
  color: #2596be;
  font-size: 48px;
  transition: 0.5s;
}

.container .slider .slide .caption p {
  margin: 0;
  padding: 0;
  color: #2596be;
  font-size: 20px;
  transition: 0.5s;
}

.container .slider .slide.slide1 {
  background: url(Images/travel1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container .slider .slide.slide2 {
  background: url(Images/travel2.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container .slider .slide.slide3 {
  background: url(Images/travel3.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container .slider .slide.slide4 {
  background: url(Images/travel4.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes animate {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
span button {
  padding-top: 20px;
  text-align: center;
  width: 100%;
  color: #2596be;
}
.captiona {
  color: white;
}
